
/* Toggle button */
.c-ac-testimonial__toggle {
    border: 0;
    cursor: pointer;
    font: inherit;
}

/* Optional: spacing */
.c-ac-testimonial__thumb{
    margin-top: 48px;
}

.c-ac-testimonial__image {
    margin-bottom: 1rem;
}

.c-ac-testimonial__intro {
    margin-bottom: 0.75rem;
}

.c-ac-testimonial__body {
    margin-bottom: 0.75rem;
}

.c-ac-testimonial__cite {
    display: block;
    margin-top: 0.5rem;
}
.l-ac-testimonial-list__list{
    margin-left: 0;
}